
#users-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #2c3e50;
}


#users-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}


#users-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  list-style: none;
  padding: 0;
  max-width: 800px;
}


